<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KeyStorm - رمزساز خفن</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, msg in messages %}
        <div class="alert {{ category }}">{{ msg }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>

    <footer class="footer">
        <p>
            KeyStorm v2.0 — طراحی شده توسط <span class="at">A.T</span> |
                                           <a href="http://alitagipour.ir/" target="_blank">alitagipour.ir</a> © ۱۴۰۴
        </p>
    </footer>
</body>
</html>